body {
  font-family: "Raleway", sans-serif;
}
.header-logo {
  float: left;
  width: 10%;
}
.header-logo img {
  width: 100%;
}
.header-name {
  float: right;
  text-transform: uppercase;
  color: #2d3c49;
  text-align: right
}
hr {
  clear: both;
  border: 0;
  height: 4px;
  background: #7d97ad;
}
article img {
  height:200px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}
h2 {
  color: #7d97ad;
  padding: 20px 0 0 12%;
}
h3 {
  text-transform: uppercase;
}
#article-list {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

article {
  display: block;
  text-align: center;
  width: 300px;
  color: #2d3c49;
}
a:link, a:visited {
  text-decoration: none;
  color: #2d3c49;
}
